.comment{
  padding-top: 15px;
  
}
.main{
  border-left: 1px solid #4f5d73; 
  padding-left: 10px;
  padding-right: 20px;
  overflow-wrap: break-word;
  .userName{
    color: black;
    font-weight: bold;
  }
  .userText{
    font-size: 0.8em;
  }
}

.noRecursion{
  padding-left: 10px;
  border-left: 1px solid #4f5d73; 
}

.votes{
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 3px;
  color: #4f5d73;
  span{
    cursor: pointer;
  }
  .text{
    padding-left: 3px;
    padding-right: 10px;
  }
}